.body-home{
    background-image: url(../SMSYSTEM/IMG/homepage.png);
    background-size: cover;
    background-attachment: fixed;
}

.black-fill{
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}