@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/JacquesFrancoisRegular.ttf");
  font-family: "Jacques Francois";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/ItimRegular.ttf");
  font-family: "Itim";
  font-weight: 400;
}
